.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;

  a {
    color: black !important;
    margin: 0 !important;
    padding: 5px!important;
  }

  a:hover, a:focus {
    color: #000 !important;
  }
}

.logout {
  padding-left: 0;
}

.login {
  padding-left: 0;
  list-style-type: none;
  padding-top: 5px;
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }

  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }

  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

/* Welcome Pages */

/* Welcome Index */

.jumbotron {
  background-image: asset-url('kyle-johnson-389070-unsplash.jpg');
  background-size: cover;
  height: 550px;
}

.center {
  text-align: center;
}

.jumbotron .welcome {
  color: white;
  padding-bottom: 50px;
}

/* Department Pages */

/* Department Show Page */

.user-list {
  border-top: 1px solid #EAEAEA;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-meta-details {
  border-bottom: 1px solid #EAEAEA;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Team Pages */

/* Team Show Page */

.team-show-2 span {
  color: red;
}

/* User Pages */

/* User Show Page */

.user-stats p {
  font-size: 150%;
  padding-top: 20px;
}
